PORT=
SALT=
BASE_URL=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=
COOKIE_SECRET=
CLOUDINARY_URL=
LOG_LEVEL=
IV= # 16 length chars
ENCRYPTION_KEY= # 32 length chars
CLIENT_BASE_URL=
# TRANSPORTER FOR NODEMAILER
TP_USER=
TP_PASS=
TP_SERVICE=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DB_NAME=
DATABASE_URL=